<!DOCTYPE html>
<html>
<head>
    <title>vue-test</title>
</head>
<body>
    <!-- <div id="app">
        <p>{{message}}</p>
        <input v-model="message">
        <msg/>
    </div> -->
    <!-- <div id="app2" class="demo">
        <ul>
            <li v-for='todo in todos'>
                {{todo.text}}
            </li>
        </ul>
    </div> -->
    <!-- <div id="app4" class="demo">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">
            Reverse Message
        </button>
    </div> -->

    <div id="app5" class="demo">
        <input v-model="newTodo" v-on:keyup.enter="addTodo">
        <ul>
            <li v-for="(todo,i) in todos">
                <span>{{todo.text}}</span>
                <button v-on:click="removeTodo(i)">X</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script>
        new Vue({
            el:'#app5',
            data:{
                newTodo: '',
                todos: [
                    {text:'Add some todos'}
                ]
            },
            methods:{
                addTodo:function () {
                    var text = this.newTodo.trim()
                    if(text) {
                        this.todos.push({text:text})
                        this.newTodo = ''
                    }
                },
                removeTodo: function (index) {
                    this.todos.splice(index, 1)
                }
            }
        })
        // new Vue({
        //     el:'#app4',
        //     data:{
        //         message: 'Hello Vue.js!'
        //     },
        //     methods:{
        //         reverseMessage:function () {
        //             this.message = this.message.split('').reverse().join('')
        //         }
        //     }
        // })
        // new Vue({
        //     el:'#app2',
        //     data:{
        //         todos:[
        //             {text:'learn Javascript'},
        //             {text:'learn Vue.js'},
        //             {text:'Build Something Awesome'}
        //         ]
        //     },
        // })
        // new Vue({
        //     el:'#app',
        //     data:{
        //         message: 'hello Vue.js'
        //     },
        //     components:{
        //         msg:{
        //             template:`<p>Hello {{message}}</p>`,  
        //             data(){
        //                 return { message:'hah'}
        //             }
        //         }
        //     }
        // })
    </script>
</body>
</html>